<a href="https://colab.research.google.com/github/iqbalsssa/Aplikasi-Sederhana-Prediksi-Harga-Rumah_TugasRemedialMETNUM/blob/main/Source_Code_kalau_gapake_UI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Import pandas dan sklearn nya dulu
import pandas as pd
from sklearn import linear_model

In [3]:
# Fungsi Prediksi nya
# INI ADALAH IMPLEMENTASI Multiple Regression Python
# Regresi berganda variabelnya lebih dari satu
# Y’ = a + b1X1+ b2X2+…..+ bnXn
# Y’= Variabel dependen (nilai yang diprediksikan).
# X1 dan X2 = Variabel independen.
# a Konstanta (nilai Y’ apabila X1, X2…..Xn = 0).
# b Koefisien regresi (nilai peningkatan ataupun penurunan).
# Ini manggil file CSV nya data harga rumah
# Di Definisikan Sebagai df
df = pd.read_csv("harga_rumah.csv")
df

        harga  luas  kasur  km
0    13300000  7420      4   2
1    12250000  8960      4   4
2    12250000  9960      3   2
3    12215000  7500      4   2
4    11410000  7420      4   1
..        ...   ...    ...  ..
540   1820000  3000      2   1
541   1767150  2400      3   1
542   1750000  3620      2   1
543   1750000  2910      3   1
544   1750000  3850      3   1

[545 rows x 4 columns]

In [4]:
#Disini ada 2 variable x dan y yang di definisikan masing2
x = df[["luas", "kasur"]]
y = df["harga"]

In [5]:
#Disini ada 2 variable x dan y yang di definisikan masing2
x = df[["luas", "kasur"]]
y = df["harga"]

In [6]:
#Ini pakai fungsi dari library sklearn
regr = linear_model.LinearRegression()
regr.fit(x, y)

LinearRegression()

In [8]:
#disini baru di prediksi
#2000 itu luas nya sedangkan 2 itu jumlah kasur nya
prediksirumah = regr.predict([[2000, 2]])
#Setelah itu hasil nya di tampilkan
prediksirumah

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([2717814.56461512])

In [9]:
#Padasarnya aplikasi ini bergantung pada data yang dimasukkan
#Karna machine learning memprediksi data yang telah di masukkan tadi , yaitu data harga rumah